html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.separador {
    margin-bottom: 5vw;
}