html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
}

.wrapper {
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.formas {
    width: 80%;
    margin: 0 auto;
}

h2,
h2 a {
    font-weight: 400;
    font-size: 1.1em;
}

.separador {
    margin-bottom: 15vw;
}

@media (min-width:860px) {
    .wrapper {
        max-width: 60vw;
        margin: 0 auto;
        text-align: center;
    }
    h2,
    h2 a {
        font-weight: 400;
        font-size: 1.5em;
    }
    .separador {
        margin-bottom: 5vw;
    }
}

p,
a {
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

a img {
    height: 1.5em;
    position: relative;
    top: 7px;
}

.linkedin {
    padding-right: 4.6em;
}